<!-- thư viện -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- lấy dữ liệu -->
<span v-bind:title="message"></span>
<span>{{message}}</span>
<!-- if true thì hiện false thì ẩn-->
<p v-if="seen">Now you see me</p>
<!-- vòng lặp -->
<li v-for="todo in todos">{{ todo.text }}</li>
<!-- add sự kiện -->
<button v-on:click="sayHello">Reverse Message</button>
<!-- tương tác realtime giữa input và vue -->
<p>{{ message }}</p>
<input v-model="message">
<!-- tạo 1 hàm tạo cho vue js -->
<script>
var MyComponent = Vue.extend({
  // extension options
});
var x = new MyComponent();
</script>