<!-- thư viện -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- lấy dữ liệu -->
<span v-bind:title="message"></span>
<span :title="message"></span>
<span>{{message}}</span>
<!-- if true thì hiện false thì ẩn-->
<p v-if="seen">Now you see me</p>
<!-- vòng lặp -->
<li v-for="todo in todos">{{ todo.text }}</li>
<!-- add sự kiện -->
<button v-on:click="sayHello">Reverse Message</button>
<button @click="sayHello">Reverse Message</button>
<!-- tương tác realtime giữa input và vue -->
<p>{{ message }}</p>
<input v-model="message">
<!-- tạo 1 hàm tạo cho vue js -->
<script>
var MyComponent = Vue.extend({
  // extension options
});
var x = new MyComponent();
</script>

<!-- vòng lặp -->
<div>
  <span v-for="n in 10">{{ n }}</span>
</div>

<div v-for="(value, key) in object">
  {{ key }} : {{ value }}
</div>

<div v-for="(value, key, index) in object">
  {{ index }}. {{ key }} : {{ value }}
</div>

<my-component
  v-for="(item, index) in items"	
  v-bind:item="item"
  v-bind:index="index">
</my-component>

<li v-for="todo in todos" v-if="!todo.isComplete">
  {{ todo }}
</li>
<!-- sắp xếp theo id -->
<div v-for="item in items" :key="item.id">
  <!-- content -->
</div>
<script>
/*thay đổi 1 phần tử trong mảng*/
Vue.set(example1.items, indexOfItem, newValue);
</script>
<!-- bắt sự kiện -->
<!-- click -->
<button v-on:click="counter += 1">Add 1</button><!-- thay đổi giá trị của biến -->
<button v-on:click="greet">Greet</button><!-- gọi hàm không đổi -->
<button v-on:click="say('hi')">Say hi</button><!-- hàm có đối -->
<!-- hành động khi kết thúc click -->
<a v-on:click.stop="doThis">ádas</a>
<!-- the submit event will no longer reload the page -->
<form v-on:submit.prevent="onSubmit"></form>
<!-- modifiers can be chained -->
<a v-on:click.stop.prevent="doThat"></a>
<!-- just the modifier -->
<form v-on:submit.prevent></form>
<!-- use capture mode when adding the event listener -->
<div v-on:click.capture="doThis">...</div>
<!-- only trigger handler if event.target is the element itself -->
<!-- i.e. not from a child element -->
<div v-on:click.self="doThat">...</div>

<!-- form -->
input text
	<input v-model="message" placeholder="edit me">
	<p>Message is: {{ message }}</p>
check box
	<input type="checkbox" id="checkbox" v-model="checked">
	<label for="checkbox">{{ checked }}</label>
multi chekbox
	<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
	<label for="jack">Jack</label>
	<input type="checkbox" id="john" value="John" v-model="checkedNames">
	<label for="john">John</label>
	<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
	<label for="mike">Mike</label>
	<br>
	<span>Checked names: {{ checkedNames }}</span>
radio
	<input type="radio" id="one" value="One" v-model="picked">
	<label for="one">One</label>
	<br>
	<input type="radio" id="two" value="Two" v-model="picked">
	<label for="two">Two</label>
	<br>
	<span>Picked: {{ picked }}</span>
seclect box
	<select v-model="selected">
		<option>A</option>
		<option>B</option>
		<option>C</option>
	</select>
	<span>Selected: {{ selected }}</span>
	thêm giá trị vào object
<script>this.$set("listUsers['1']", {string: 'string 1', visible: true});</script>